{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}

{% block content %}
  <div class="main">
    <h1>My Tennis Club</h1>

    <h3>Members</h3>
  <img src="https://scontent-los2-1.xx.fbcdn.net/v/t39.30808-6/431546922_122130871490166651_662973225845453993_n.jpg?stp=dst-jpg_p526x296&_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=edvzVOugDzAAX9U-c2G&_nc_ht=scontent-los2-1.xx&oh=00_AfDM4p7Y5JB6llQ8XBdxu0C0n0KJAWBylo6X9i2M5JH2tw&oe=66088554">
    <p>Check out all our <a href="members/">members</a></p>
  </div>
{% endblock %}